*{
    box-sizing: border-box;
    margin: 0;
    
}
.calculator-background {
    min-height: 100vh;
    

    background: linear-gradient(
        13deg,
        #81c2fa,
        #ff9a9e,
        #fad0c4,
        #fbc2eb,
        #a6c1ee
    );
}

.calculator {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    border: solid 1px #bcbaba;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#result-display{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}