*{
    box-sizing: border-box;
    margin: 0;
    
}
.calculator-background {
    min-height: 100vh;
    

    background: linear-gradient(
        13deg,
        #7eafda,
        #d270c2,
        #90abe2,
        #c271ce,
        #a6c1ee
    );
}

.calculator {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    border: solid 1px #bcbaba;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#result-display{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}

button {
    padding: 15px;
    font-size: 24px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(14, 13, 13);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.clear {
    background-color: #f60606;
    color: white;
}

.number, .decimal {
    background-color: #ffffff;
    color: #333;
}

.operator {
    background-color: #2073da;
    color: white;
}

.equals {
    background-color: #1cd622;
    color: white;
    grid-row: span 3;
}

#zero {
    grid-column: span 2;
}